<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header class="site-header">
    <div class="container nav">
      <a class="logo" href="/">PROPHECY</a>

      <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/about">Author</a>

        <div class="dropdown">
          <button class="dropbtn">Heaven</button>
          <div class="dropdown-content">
            <a href="/characters/josiah">Josiah</a>
            <a href="/characters/set">Set</a>
            <a href="/characters/elijah">Elijah</a>
            <a href="/characters/malachi">Malachi</a>
            <a href="/characters/abigail">Abigail</a>
            <a href="/characters/ma">Ma</a>
            <a href="/characters/sekhmet">Sekhmet</a>
            <a href="/characters/shiva">Shiva</a>
            <a href="/characters/hades">Hades</a>
            <a href="/characters/cerberus">Cerberus</a>
            <a href="/characters/athena">Athena</a>
          </div>
        </div>

        <div class="dropdown">
  <button class="dropbtn">Abyss</button>
  <div class="dropdown-content">
    <a href="/characters/apollyon">Apollyon</a>
    <a href="/characters/loki">Loki</a>
    <a href="/characters/sunwukong">Sun Wukong</a>
    <a href="/characters/beelzebub">Beelzebub</a>
    <a href="/characters/meden">Meden</a>
    <a href="/characters/donnor">Donnor</a>
    
  </div>
</div>
          </div>
        </div>
      </nav>
    </div>
  </header>